aiosqlite
annotated-types
anyio
async-timeout
asyncpg
bcrypt
certifi
click
colorama
databases
dnspython
ecdsa
email-validator
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
orjson
packaging
passlib
pillow
pluggy
psycopg2-binary
pyasn1
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pypng
PyQRCode
pytest
python-dotenv
python-jose
python-multipart
PyYAML
qrcode
rsa
six
sniffio
SQLAlchemy
starlette
typing_extensions
ujson
uvicorn
validators
watchfiles
websockets