aiosqlite
annotated-types
anyio
async-timeout
asyncpg
certifi
click
colorama
databases
dnspython
email-validator
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
orjson
pillow
psycopg2-binary
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pypng
PyQRCode
python-dotenv
python-multipart
PyYAML
qrcode
six
sniffio
SQLAlchemy
starlette
typing_extensions
ujson
uvicorn
validators
watchfiles
websockets
