@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --bg-black-000:     #000000;
    --bg-black-200:     #1E1E1E;
    --bg-green-100:     #067808;
    --bg-white-100:     #E2E9F0;
    --bg-yellow-000:    #EAC81F;
    --bg-black-400:     #F8F7F7;
    --bg-black-300:     #FEFEFE;
    --bg-color-000:     #FFFFFF;
    --text-Main-text:   #141414;
    --text-Primary-300: #0065fe;
    --text-Primary-400: #005AE2;
    --bg-color-400:    #1E3448;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 18px;
}

h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Kanit', sans-serif;
}

h1{
    font-size: 48px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
}

h2{
    font-size: 40px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
}

h3{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
}

h4{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
}

body{
    width: 100%;
    padding: 2% 10%;
    height: auto;
}

.HeroSection{
    display: grid;
    height: auto;
    width: 100%;
    margin: auto;
}

.Heroheader{
    background-color: var(--bg-black-300);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0;
}
.menu{
    display: none;
}

.group-3{
    border: 1px solid var(--text-Primary-400);
    border-radius: 24px;
    padding: 50px;
    margin: auto;
    height: auto;
    width: 50%;
    background-color: rgba(236, 137, 137, 0.1);
}
.group3b{ 
    font-family: 'Kanit', sans-serif;
    padding: 10px auto;
}

.group3a{ 
    display: flex;
    justify-content: left;
}

.group3a .link{ 
    content: url('https://api.iconify.design/iconamoon/link-thin.svg?width=60&height=60&flip=horizontal');
    text-decoration: none;
}
.group3a .arrow{
    padding: 30px 10px;
}

.group3b{
    font-family: 'Kanit', sans-serif;
    justify-content: center;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}
.group3b a{
    font-family: 'Kanit', sans-serif;
    color: var(--text-Main-text);
    font-weight: 600;
    font-size: 16px;
}

.group-2{
    margin: 100px auto 0 auto;
}
.maintext, .submain{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: var(--bg-black-000);
}

.maintext h1{
    margin: 25px;
    font-weight: 600;
    /* font-size: 48px; */
    line-height: 78px;
    flex-wrap: wrap;
    position: relative;
}
.maintext img{
    position: absolute;
    left: 43%;
    top: 330px;
}

.submain{
    margin: 20px auto;
}
.submain h4{
    font-weight: 300;
    font-size: 14px;
    line-height: 28px; 
}
.maintext span{
    color: var(--text-Primary-300);
}

.frame1650{
    height: 100px;
    width: 100%;
    margin: 10px auto;
    background-image: url(../media/Rectangle.png);
    background-position: center;
    background-size: 100% 100%;
}

.oval{
    height: 40px;
    width: 65%;
    border-style: groove;
    border-radius: 50%;
    background-color: rgba(236, 137, 137, 0.1);
    margin: 25px auto;
}
.logo,.nav,.login{
    align-self: center;
    align-content: center;
    height: auto;
    width: auto;
}

.logo a{
    font-weight: 900;
    color: var(--text-Primary-300);
}

.Heroheader a:hover{
    color: var(--text-Primary-300);
}

.nav a, .login a{
    padding: 0 20px;
    justify-content: space-between;
    color: var(--text-Main-text);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
}
.logo .logo-icon{
    height: 80%;
    width: 30px;
    margin: auto 5px; 
}
.logo .logo-icon img{
    padding-top: 8px;
}
.logo .Logo-text span{
    color: var(--text-Primary-300);
}

.nav .urls{
    color: var(--text-Primary-400);
    font-weight: 400;
}

.fa{
    padding: 0 5px;
}
.logo, .login{
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.HHF1648{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: 'Kanit', sans-serif;
    margin: 50px auto;
}

button{
    white-space: nowrap;
    border: none;
    border-radius: 24px;
    align-self: center;
    font-size: 16px;
    padding: 10px 40px;
    margin: 0 10px;
    color: var(--bg-black-300);
    background-color: var(--text-Primary-300);
}

.Learn_more h4{
    color: var(--text-Primary-400);
    
}

.Learn_more{
    align-self: center;
}

.Desktop-10{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: 150px auto;
    margin: auto;
}

.onestop{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: auto;
}

.frame1692{
    height: 100%;
    width: auto;
}

.frame1692 h2{
    justify-self: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    text-align: left;
    color: var(--bg-black-200);
}

.frame1715{
    /* padding: 20px; */
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-self: center;
    font-family: 'Kanit', sans-serif;
}

.frame1715 h4{
    font-weight: 300;
    line-height: 24px;
}

.frame1715 h2{
    font-weight: 400;
}

.whyscissors{
    margin: auto;
    padding: 100px 10px;
    display: flex;
    justify-content: space-between;
}

.intro{
    height: 50%;
    margin: 0px;
    display: grid;
    justify-content: space-around;
    width: 40%;
    font-family: 'Kanit', sans-serif;
}

.intro .text{
    display: grid;
    gap: 10px;
    justify-content: space-around;
}

.text h5{
    padding: 10px;
    font-weight: 300;
    line-height: 28px;
}

.widgets{
    width: 70%;
    height: auto;
    padding: 0 0 0 50px;
    display: grid;
    grid-template-columns: 1fr;
}
.topwidget{
    padding : 10px;
    display: flex;
    margin-bottom: 25px;
}
.bottomwidget{
    display: flex;
    margin: auto;
}
.format{
    /* padding: 5px 20px; */
    padding-bottom: 20px;
    padding-top: 0;
    padding-right: 15px;
}
.icon{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: rgba(50, 132, 255, 0.13);
    display: flex;
    justify-content: center;
    padding-top: 18px;
}


.Desktop-1{
    background-color: var(--bg-color-000);
    height: auto;
    width: 100%;
}

.frame1719{
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.Desktop-11{
    background-color: var(--bg-color-400);
    height: auto;
    width: 100%;
    padding: 75px;
}

.form{
    width: 40%;
    height: auto;
    background-color: var(--bg-black-300);
    margin:0 auto;
    padding: 25px;
    border-radius: 12px;
}
.input{
    margin: 15px auto;
}

.input form{
    margin: 10px 0;
    width: 100%;
}

#URL{
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid var(--text-Primary-400);
}
.flex{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#domain,#Alias{
    padding-left: 20px;
    width: 100%;
    height:40px;
    border-radius: 10px;
    border: 1px solid var(--text-Primary-400);
}

.terms{
    margin: 25px auto;
}
.terms button{
    margin: 0;
    width: 100%;
}

.terms button{
    margin: 0;
}
.terms h5{
    width: 100%;
    font-size: 14px;
}

.fa-magic-wand-sparkles{
    padding-left: 20px;
}

.frame1713{
    margin: 50px auto;
    width: 560px;
    height: auto;
    text-align: center;
    line-height: 10px;
    position: relative;
    
}

.frame1713 h2{
    line-height: 50px;
    font-size: 40px;
}
.frame1713 img{
    position: absolute;
    left: -10px;
}
.frame1713 h5{
    padding: 0 20px;
    line-height: 25px;
    font-weight: 300;
}

.group9{
    margin: 100px 0 50px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    position: relative;
}
.group9 h5{
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
}
.group9 h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}
.group9 h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 100px;
}
.group9 h2{
   /* font-size: 40px; */
    font-weight: 600;
    line-height: 20px;
}

.group90{
    display: none;
}

.basic{
    position: absolute;
    top: 70px;
    left: 50px;
    height: auto;
    width: 350px;
    border: 1px solid var(--text-Primary-400);
    padding:  20px 100px 30px 50px;
    border-radius: 15px;
    z-index:1;
}
.professional{
    height: 600px;
    width: 450px;
    margin: auto;
    border-radius: 15px;
    padding: 80px 0 0 100px;
    border: 1px solid var(--text-Primary-400);
    background-color: var(--bg-color-400);
    z-index: 1;
    color: #FFFFFF;
    list-style-type: none;
}

.teams{
    list-style-type: none;
    position: absolute;
    top: 70px;
    right: 50px;
    height: auto;
    width: 350px;
    padding: 20px 0 30px 100px;
    border: 1px solid var(--text-Primary-400);
    border-radius: 15px;
}

.fa-circle-check{
    margin-right: 5px;
}

.FAQs{
    background-color: var(--bg-color-000);
    height: auto;
    width: 100%;
    margin: 0;
}

.frame1652{
    width: 100%;
    padding-top: 50px;
    height: auto;
    position: relative;
}
.frame1652 img{
    position: absolute;
    bottom: 0;
    left: 44%;
}
.frame1652 h1{
    font-size: 40px;
    letter-spacing: 1px;
    width: auto;
    margin: auto;
    text-align: center;
}
.frame1651{
    width: 80%;
    margin: 30px auto;
    padding: 20px;
}
.frame1651 h4{
    font-size: 20px;
}
.frame1651 h5{
    font-size: 16px;
}
.plus{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.plus_question{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 15px;
    padding: 0;

}
.plus_answer{
    margin: 15px;
    padding: 10px;
    color: var(--text-Main-text);
    background-color: var(--bg-black-300);
    border-bottom: 1px solid var(--bg-color-400);
}
.plus:hover{
    cursor: pointer;
    background-color: var(--bg-black-300);
}
.plus_answer{
    display: none;
} 
.plus.active .plus_answer{
    display: block;
}

.Frame1649{
    background-color: var(--bg-color-400);
    height: auto;
    width: 100%;
    padding: 50px 0;
    margin: auto;
}
.frame1654{
    width: 60%;
    margin: 20px auto;
    padding: 25px auto;
    display: grid;
    justify-content: space-between;
    color: var(--bg-black-300);
}
.frame1654 button{
    width: 40%;
    margin: 10px auto;
    color: var(--bg-black-300);
    font-size: 16px;

}
.frame1654 h1{
    font-size: 40px;
    color: var(--bg-black-300);
    margin: auto;
}

.footer{
    padding: 75px 50px 0px 75px;
    background-color: var(--bg-color-000);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.frame1714{
    height: 150px;
    width: 200px;
    display: grid;
    justify-content: center;
}
.home{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px auto;
    line-height: 50px;
    
}
.home img{
    padding: 10px 0;
}
.socials{
    height: auto;
    width: 100%;
}
.socials ul{
    padding: 10px 0;
    display: flex;
    gap: 10px;
    list-style-type: none;
    height: auto;
    padding: auto;
    /*margin-top: 15px;*/
}
.socials ul li{
    width: 40px;
    height: 40px;
    align-items: center;
    margin: 0;

}

.frame1649{
    height: 500px;
    width:75%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.column{
    width: 150px;
    display: grid;
    justify-content: center;
    gap: 50px;
}
.column h4{
    width: 150px;
    font-size: 16px;
}

.column .bold{
    font-weight: 500;
    line-height: 50px;
}

.footnote{
    margin: 0;
    text-align: right;
}
