{% include 'layout.html' %} {% block title%}
<title>Ezzy | new</title>
{% endblock%}

<div class="container">
    <div class="card-body text-monospace"></div>
    <div class="card-body text-monospace">message here</div>
    <div class="card-body">
        <h2>Create new</h2>
    </div>
    <div class="card-body"></div>

    <div class="container">
        <div class="card">
            <div class="card-header">
                Create unlimited url
            </div>
            <div class=card-body>
                <form>
                    <div class="form-group">
                        <label>Destination</label>
                        <input class="form-control" name="target_url" placeholder= "https://example.com/my-long-url" required></input>
                    </div>
                    <div class="form-group">
                        <label>Title (optional) </label>
                        <input type="text" class="form-control" id="title" placeholder= "Name your creation">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button
                        onclick="window.location.href='dashboard'"
                        type="button"
                        class="btn btn-success"
                    >
                        Dashboard
                    </button>
                </form>
            </div>
        </div>
        <hr class="orb-divider"></hr>
        <hr class="orb-divider"></hr>
        <hr class="orb-divider"></hr>
        <div class=""><h4>you've reached the end of this page</h4></div>
    </div>
</div>

<div class="card-body"></div>
<div class="whyscissors"></div>

{% include 'footnote.html' %}
