{% include 'layout.html' %} {% block title%}
<title>faq | Ez-scissor</title>
{% endblock%}

<div class="card-body"></div>
<div class="card-body"></div>

<div class="container">
    <div class="FAQs">
        <div class="frame1653">
            <div class="frame1652">
                <h1>
                    <img
                        src="{{url_for('static', path='/media/Line70.svg')}}"
                    />
                    FAQS
                </h1>
            </div>
            <div class="card-body text-monospace"></div>
            <div class="frame1651">
                <div class="plus">
                    <div class="plus_question">
                        <h4>How do URL shortening work?</h4>
                        <img
                            src="{{url_for('static', path='/media/plus (1).svg')}}"
                        />
                    </div>
                    <div class="plus_answer">
                        <h5>
                            URL shortener works by taking a long URL and
                            creating a shorter, condensed version that directs
                            to the original URL. when a user clicks on the link,
                            they are redirected to the intended destination.
                        </h5>
                    </div>
                </div>
                <div class="plus">
                    <div class="plus_question">
                        <h4>
                            Is it necessary to create an account to use the URL
                            shortening service?
                        </h4>
                        <img
                            src="{{url_for('static', path='/media/plus (1).svg')}}"
                        />
                    </div>
                    <div class="plus_answer">
                        <h5>
                            Yes, Ez-Scissor provides free services like URL storage, 
                            QR code generation, Domain customization, and analysis therefore
                            users are required to create an account to enable access to a 
                            dashboard where these services can be organized.
                        </h5>
                    </div>
                </div>
                <div class="plus">
                    <div class="plus_question">
                        <h4>
                            Are the shortened links permanent? Will they expire?
                        </h4>
                        <img
                            src="{{url_for('static', path='/media/plus (1).svg')}}"
                        />
                    </div>
                    <div class="plus_answer">
                        <h5>
                            Shortened URLs are permanent except deleted by owner.
                        </h5>
                    </div>
                </div>
                <div class="plus">
                    <div class="plus_question">
                        <h4>
                            Are there any limitations on the number of URLs I
                            can shorten?
                        </h4>
                        <img
                            src="{{url_for('static', path='/media/plus (1).svg')}}"
                        />
                    </div>
                    <div class="plus_answer">
                        <h5>
                            In version 0.1.0, No limitations has been set however, users a restricted to
                            10 shortening per minute.
                        </h5>
                    </div>
                </div>
                <div class="plus">
                    <div class="plus_question">
                        <h4>
                            Can I customize the shortened URLs to reflect my
                            brand or content?
                        </h4>
                        <img
                            src="{{url_for('static', path='/media/plus (1).svg')}}"
                        />
                    </div>
                    <div class="plus_answer">
                        <h5>
                            Yes you can, create a free account and explore this possibilities.
                        </h5>
                    </div>
                </div>
                <div class="plus">
                    <div class="plus_question">
                        <h4>
                            Can I track the performance of my shortened URLs?
                        </h4>
                        <img
                            src="{{url_for('static', path='/media/plus (1).svg')}}"
                        />
                    </div>
                    <div class="plus_answer">
                        <h5>
                            Analytics for all created short links are available on the
                            dashboard.
                        </h5>
                    </div>
                </div>
                <div class="plus">
                    <div class="plus_question">
                        <h4>
                            How secure is the URL shortening service? Are the
                            shortened links protected against spam or malicious
                            activity?
                        </h4>
                        <img
                            src="{{url_for('static', path='/media/plus (1).svg')}}"
                        />
                    </div>
                    <div class="plus_answer">
                        <h5>
                            Shortened links can only be modified by registered user alone.
                            Endevour to create a strong password for your account.
                        </h5>
                    </div>
                </div>
                <div class="plus">
                    <div class="plus_question">
                        <h4>What is a QR code and what can it do?</h4>
                        <img
                            src="{{url_for('static', path='/media/plus (1).svg')}}"
                        />
                    </div>
                    <div class="plus_answer">
                        <h5>
                            QR Code are images containing information of the qr link created.
                            These images can be scanned and decodes by any qr scanner.
                        </h5>
                    </div>
                </div>
                <div class="plus">
                    <div class="plus_question">
                        <h4>
                            Is there an API available for integrating the URL
                            shortening service into my own applications or
                            websites?
                        </h4>
                        <img
                            src="{{url_for('static', path='/media/plus (1).svg')}}"
                        />
                    </div>
                    <div class="plus_answer">
                        <h5>
                            None for now, this will be integrated in the future.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-body"></div>
<div class="whyscissors"></div>

{% include 'footnote.html' %}
<hr class="orb-divider" />
<hr class="orb-divider" />
<div class=""><h4>you've reached the end of this page</h4></div>

<script>
    let response = document.querySelectorAll(".plus");
    response.forEach((event) => {
        event.addEventListener("click", () => {
            if (event.classList.contains("active")) {
                event.classList.remove("active");
            } else {
                event.classList.add("active");
            }
        });
    });
</script>
