{% block content %}

{% endblock %}

<footer class="footer">
    <div class="frame1714">
        <div class="socials">
            <ul>
                <li class="fa fa-brands fa-twitter fa-xl"></i></li>
                <li class="fa fa-brands fa-instagram fa-xl"></i></li>
                <li class="fa fa-brands fa-linkedin fa-xl"></i></li>
                <li class="fa fa-brands fa-facebook fa-xl"></i></li>
            </ul>
        </div>
    </div>
    <div class="frame1649">
        <div class="column">
            <div class="top-col">
                <h4 class="bold">Why Scissor ?</h4>
                <h4>Scissor 101 Integrations & API Pricing</h4>
            </div>
            <div class="bot-col">
                <h4 class="bold">Resources</h4>
                <h4>
                    Blog Resource Library Developers App Connectors 
                    Support Trust Center Browser Extension Mobile App
                </h4>
            </div>
        </div>
        <div class="column">
            <div class="column">
                <div class="top-col">
                    <h4 class="bold">Solutions</h4>
                    <h4>
                        Social Media Digital Marketing Customer Service 
                        For Developers.
                    </h4>
                </div>
                <div class="bot-col">
                    <h4 class="bold">Features</h4>
                    <h4>
                        Branded Links Mobile Links Campaign Management & 
                        Analytics QR Code generation
                    </h4>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="column">
                <div class="top-col">
                    <h4 class="bold">Products</h4>
                    <h4>Link Management QR Codes Link-in-bio</h4>
                </div>
                <div class="bot-col">
                    <h4 class="bold">Legal</h4>
                    <h4>
                        Privacy Policy Cookie Policy Terms of Service Acceptable 
                        Use Policy Code of Conduct
                    </h4>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="column">
                <div class="top-col">
                    <h4 class="bold">Company</h4>
                    <h4>
                        About Scissor Careers Partners 
                        Press Contact Reviews
                    </h4>
                </div>
            </div>
        </div>
    </div>
</footer>
