
{% include 'layout.html' %}
{% block title%}<title>Ez-scissor</title>{% endblock%}

<div class="card-body text-monospace"></div>

<div class="group-2">
    <div class="maintext">
        <h1>
            Optimize Your Online Experience with our<br>
            Advance <span> URL Shortening </span> Solution
        </h1>
        <!--
        <img
            src ="{{url_for('static', path='/media/brush.svg')}}"
            alt="logo SVG"
        />
        -->
    </div>
    <div class="card-body text-monospace"></div>
    <div class="submain">
        <h4>
            Personalize your shortened URLs to align with your brand identity.
            Utilize custom slugs, <br/>branded links, and domain customization
            options to reinforce your brand presence and <br />
            enhance user engagement.
        </h4>
    </div>
    <div class="HHF1648">
        <div class="button"><a href="user/sign-up"><button>Sign Up</button></a></div>
        <a href="ezzy/faq" class="Learn_more"><h4>Learn more</h4></a>
    </div>
</div>

<div class="card-body text-monospace"></div>


<div class="Frame1649">
    <div class="frame1654">
        <h1>Revolutionizing Link Optimization</h1>
        <br>
        <button><a href="user/sign-up" class="btn-success"><h3>Get Started<h3></a></button>
    </div>
</div>

{% include "footer.html" %} {% include 'footnote.html' %}

<hr class="orb-divider"></hr>
<hr class="orb-divider"></hr>
<div class=""><h4>you've reached the end of this page</h4></div>