{% include 'layout.html' %}

<div class="group-2">
    <div class="maintext">
    <h1>
        Optimize Your Online Experience with our<br />
        Advance <span> URL Shortening </span> Solution
    </h1>
    <img src = "{{url_for('static', path='/media/brush.svg')}}" alt= "logo SVG" />
    </div>
    <div class="submain">
    <h4>
        Personalize your shortened URLs to align with your brand identity.
        Utilize custom slugs, <br />branded links, and domain customization
        options to reinforce your brand presence and <br />
        enhance user engagement.
    </h4>
    </div>
    <div class="HHF1648">
    <div class="button"><button>Sign Up</button></div>
    <div class="Learn_more"><h4>Learn more</h4></div>
    </div>
</div>

<div class="group-3">
    <div class="group3a">
    <div class="link"></div>
    <div class="link"></div>
    <div class="link"></div>
    <div class="arrow">
        <img src = "{{url_for('static', path='/media/Line 7.svg')}}" alt= "logo SVG" />
    </div>
    <div class="link"></div>
    </div>
    <div class="group3b">
    <p>
        Seamlessly transform your long URLs into concise <br />
        and <a href="#" class="3a-link">shareable links</a> with just few
        clicks.
    </p>
    </div>
</div>

<div class="frame1650">
    <div class="oval"></div>
</div>

<div class="Desktop-10">
    <!--
    {% include 'usage.html' %}
    -->
    <div class="whyscissors">
        <div class="intro">
        <div class="text">
            <h2>Why choose <span style="color: #005ae2">Scissors</span></h2>
            <h5>
            Scissors is the hub of everything that has to do with your link
            management. We shorten your URLs, allow you creating custom ones for
            your personal, business, event usage. Our swift QR code creation,
            management and usage tracking with advance analytics for all of these
            is second to none.
            </h5>
        </div>
        </div>
        <div class="widgets">
        <div class="topwidget">
            <div class="format">
            <div class="icon">
                <a href="#" class="active"><i class="fa fa-solid fa-link"></i></a>
                <!-- <a href="#" class = "active"><i class = "fa-solid fa-heart-rate fa-lg"></i></a> -->
            </div>
            <br />
            <h3>URL Shortening</h3>
            <h5>
                Scissor allows you to shorten URLs of your business, events. Shorten
                your URL at scale, URL redirects.
            </h5>
            </div>
            <div class="format">
            <div class="icon">
                <a href="#" class="active"
                ><i class="fa fa-pen-to-square fa-lg"></i
                ></a>
            </div>
            <br />
            <h3>Custom URLs</h3>
            <h5>
                With Scissor, you can create custom URLs, with the length you want!
                A solution for socials and businesses..
            </h5>
            </div>
        </div>
        <div class="bottomwidget">
            <div class="format">
            <div class="icon">
                <a href="#" class="active"><i class="fa fa-qrcode fa-lg"></i></a>
            </div>
            <br />
            <h3>QR codes</h3>
            <h5>
                Generate QR codes to your business, events. Bring your audience and
                customers to your doorstep with this scan and go solution..
            </h5>
            </div>
            <div class="format">
            <div class="icon">
                <a href="#" class="active"
                ><i class="fa fa-line-chart fa-lg"></i
                ></a>
            </div>
            <br />
            <h3>Data Analytics</h3>
            <h5>
                Receive data on the usage of either your shortened URL, custom URLs
                or generated QR codes. Embedded to monitor progress.
            </h5>
            </div>
        </div>
        </div>
    </div>
</div>

<!--
{% include "pricing.html" %}
-->

<div class="Desktop-11">
    <div class="form">
        <div class="input">
        <input type="text" id="URL" placeholder="Paste URL here" /><br />
        <form class="flex">
            <input type="text" id="domain" placeholder="Choose Domain" />
            <input type="text" id="Alias" placeholder="Type Alias here" />
        </form>
        </div>
        <div class="terms">
        <button>
            <h5>Trim URL<i class="fa fa-magic-wand-sparkles"></i></h5>
        </button>
        <h5>
            By clicking TrimURL, I agree to the
            <span style="color: #005ae2; font-weight: 500"
            >Terms of Service, Privacy Policy</span
            >
            and Use of Cookies.
        </h5>
        </div>
    </div>
</div>

{% include "faq.html" %}


<div class="Frame1649">
    <div class="frame1654">
        <h1>Revolutionizing Link Optimization</h1>
        <br />
        <button><h4>Get Started</h4></button>
    </div>
</div>

{% include "footer.html" %}
