<div class="Heroheader">
    <div class="logo">
        <div class="logo-icon">
            <img src = "{{url_for('static', path='/media/chain logo.svg')}}" alt= "logo SVG" />
        </div>
        <div class="Logo-text">
            <a href="/" class="active"><h3><span> | </span> SCISSOR </h3></a>
    </div>
    </div>
    <div class="nav">
        <a href="#" class="urls">My URLs</a>
        <a href="pages/features" class="active">Features<i class="fa fa-caret-down"></i></a>
        <a href="#">Analytics</a>
        <a href="pages/faq">FAQs</a>
    </div>
    <div class="login"><a href="#">Log in</a><a href="user/sign-up"><button class="button">Try for free</button></a></div>
    <div class="menu">
        <i class="fa fa-bars fa-2xl"></i>
        <div class="nav-mobile">
            <a href="#" class="urls">My URLs</a>
            <a href="pages/features" class="active">Features<i class="fa fa-caret-down"></i></a>
            <a href="#">Analytics</a>
            <a href="pages/faq">FAQs</a>
            <a href="#">Log in</a>
            <a href="user/sign-up">Try for free</a>
        </div>
    </div>
</div>
