<div class="Desktop-1">
    <div class="frame1713">
        <h2>
        <img src="./media/Line70.svg" />A
        <span style="color: #005ae2">price perfect</span> for your needs.
        </h2>
        <br />
        <h5>
        From catering for your personal, business, event, socials needs, you can
        be rest assured we have you in mind in our pricing.
        </h5>
    </div>
    <div class="group9">
        <div class="basic">
        <div class="title">
            <h3>Basic</h3>
            <br />
            <h2>Free</h2>
            <br />
            <h4>Free plan for all users</h4>
            <br />
            <li style="list-style-type: none">
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Unlimited URL
                Shortening
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Basic Linl Analytics
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Customizable Short
                Links
            </h5>
            <h5><i class="fa fa-regular fa-circle-check"></i>Standard Support</h5>
            <h5><i class="fa fa-regular fa-circle-check"></i>Ad-supported</h5>
            </li>
        </div>
        <div class="list"></div>
        </div>
        <div class="professional">
        <div class="title">
            <h3>Professional</h3>
            <br />
            <h2>$15/month</h2>
            <br />
            <h4>Ideal for business creators</h4>
            <br />
            <li>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Enhanced Link Analytics
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Custom Branded Domains
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Advanced Link
                Customization
            </h5>
            <h5><i class="fa fa-regular fa-circle-check"></i>Priority Support</h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Ad-free Experience
            </h5>
            </li>
        </div>
        </div>
        <div class="teams">
        <div class="title">
            <h3>Teams</h3>
            <br />
            <h2>$25/month</h2>
            <br />
            <h4>Share with up to users</h4>
            <br />
            <li>
            <h5>
                <i class="fa fa-regular fa-circle-check" aria-hidden="true"></i>Team
                Collaboration
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>User Roles and
                Permissions
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Enhanced Security
            </h5>
            <h5><i class="fa fa-regular fa-circle-check"></i>Api Access</h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Dedicated Account
                Manager
            </h5>
            </li>
        </div>
        </div>
    </div>
    <div class="group90">
        <div class="basic90">
        <div class="title">
            <h3>Basic</h3>
            <br />
            <h2>Free</h2>
            <br />
            <h4>Free plan for all users</h4>
            <br />
            <li style="list-style-type: none">
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Unlimited URL
                Shortening
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Basic Linl Analytics
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Customizable Short
                Links
            </h5>
            <h5><i class="fa fa-regular fa-circle-check"></i>Standard Support</h5>
            <h5><i class="fa fa-regular fa-circle-check"></i>Ad-supported</h5>
            </li>
        </div>
        <div class="list"></div>
        </div>
        <div class="professional90">
        <div class="title">
            <h3>Professional</h3>
            <br />
            <h2>$15/month</h2>
            <br />
            <h4>Ideal for business creators</h4>
            <br />
            <li>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Enhanced Link Analytics
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Custom Branded Domains
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Advanced Link
                Customization
            </h5>
            <h5><i class="fa fa-regular fa-circle-check"></i>Priority Support</h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Ad-free Experience
            </h5>
            </li>
        </div>
        </div>
        <div class="basic90">
        <div class="title">
            <h3>Teams</h3>
            <br />
            <h2>$25/month</h2>
            <br />
            <h4>Share with up to users</h4>
            <br />
            <li>
            <h5>
                <i class="fa fa-regular fa-circle-check" aria-hidden="true"></i>Team
                Collaboration
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>User Roles and
                Permissions
            </h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Enhanced Security
            </h5>
            <h5><i class="fa fa-regular fa-circle-check"></i>Api Access</h5>
            <h5>
                <i class="fa fa-regular fa-circle-check"></i>Dedicated Account
                Manager
            </h5>
            </li>
        </div>
        </div>
    </div>
    <div class="frame1719">
        <div>
        <button
            style="
            color: #005ae2;
            background-color: aliceblue;
            border: 1px solid #005ae2;
            "
        >
            <h4>Get Custom Pricing</h4>
        </button>
        </div>
        <div>
        <button><h4>Select Pricing</h4></button>
        </div>
    </div>
</div>