<div class="onestop">
    <div class="frame1692">
    <h2>
        One Stop.<br />
        Four <span style="color: #005ae2"> Possibilities.</span>
    </h2>
    </div>
    <div class="frame1715">
    <div class="#">
        <h2>3M</h2>
        <h4><span>Active users</span></h4>
    </div>
    <div class="#">
        <h2>6OM</h2>
        <h4>
        <span
            >Links and QR <br />
            codes created
        </span>
        </h4>
    </div>
    <div class="#">
        <h2>1B</h2>
        <h4>
        <span
            >Clicked & <br />
            connections</span
        >
        </h4>
    </div>
    <div class="#">
        <h2>3OOk</h2>
        <h4><span>App Integrations</span></h4>
    </div>
    </div>
</div>